{% extends 'base.html.twig' %}
{% block title %}Article{% endblock %}
{% block body %}
<Table border="1">
    <!-- Заголовок таблицы -->
    <caption style=" font-size:xx-large"> Article </caption>

    <!-- Шапка таблицы -->
    <thead>
        <tr style="font-weight: bold" >
            <td>Имя</td>
            <td>Описание</td>
            <td>Дата создания</td>
            <td>Удалить</td>
        </tr>
    </thead>
    <!-- Наполнение таблицы данными -->

    <tbody>
    {% for entity in article %}
        <tr>
            <td> <a href="{{ path ('article_update' , {'id' : entity.id })}}"> {{ entity.name }} </a></td>
            <td> {{ entity.description }} </td>
            <td> {{ entity.createdAt|date('Y-m-d H:m') }} </td>
            <td ><a href="{{ path ('article_delete' , {'id' : entity.id })}}">X</a> </td>
        </tr>
    {% endfor %}

    </tbody>
</Table>
    <a href="{{ path('article_create') }}">
        <input type="button" value="Создать">
    </a>

{% endblock %}
